<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbZCSBjQgtP6FdFwH7nQBx85dWCS1Tl-g</string>
	<key>GCM_SENDER_ID</key>
	<string>784844153527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartHome101</string>
	<key>PROJECT_ID</key>
	<string>smarthome101-4b034</string>
	<key>STORAGE_BUCKET</key>
	<string>smarthome101-4b034.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784844153527:ios:6ca1f6eb75c08ee8702332</string>
	<key>DATABASE_URL</key>
	<string>https://smarthome101-4b034-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>